body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #eee;
  }
  
  h1, h2, h3, h4 {
    font-weight: 400;
  }
  
  img {
    max-width: 200px;
  }
  
  .container {
    max-width: 800px;
  }
  
  .list-group-item {
    border: 0;
  }
  